*{
  max-width: 100%;
  height: auto;
}


.container{
  width: 900px;
  margin-left: 200px;

}

body{
  background-image: url("/home/chanel/Documenti/bole/background.jpg");
  background-size: contain;
  background-size: 100%;
}

.sfondo{
  margin-left: 300px;
  margin-top: 20px;
  height: 1000px;
  width: 1250px;
  border-radius: 20px 20px;
  background-color: #282828;;
  opacity: 0.8;
}

header{
  text-align: center;
}

.logo{
  width: 200px;
  margin-top: 150px;
}

header > h1{
  color: lime;
}

nav{
  text-align: center;
  background-color: lime;
  padding: 15px;
  border: 1px solid black;
  width: 980px;
}

main > h3{
  display: inline-block;
  color: white;
  margin-top: 30px;
  margin-bottom: 5px;
}

main > h4{
  color: white;
  margin-top: 3px;
  margin-bottom: 2px;
}

.battery{
  border-radius: 10px 10px;
  border: 1px solid black;
  padding: 18px;
}

.orange{
  background-color: orange;
  width: 500px;
  margin-top: 2px;
}
.green{
  width: 700px;
  background-color: #45c700;

}
.red{
  width: 250px;
  background-color: red;
